.App {
    position: relative;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6vw;
}

.text {    
    border-top: solid black calc(1vw / 2);
    border-bottom: solid black calc(1vw / 2);

    height: calc(100% - 2rem);
    width: calc(100% - 2rem);

    margin: 0;
    padding: 0 1rem;

    overflow: hidden;

    text-align: center;
}