.App {
    height: 100vh;
    
    overflow: hidden;

    position: relative;
}

.text {
    margin: 0 auto;
    
    width: fit-content;
}

.crosshair {
    border: solid 1px black;
    border-radius: 100%;

    position: absolute;
}