.App {
    display: flex;
    justify-content: center;

    height: 100vh;
    
    overflow: hidden;

    position: relative;
}

.character {
    position: relative;
}

.hitbox {
    background-color: black;
    position: absolute;
}